body {
  background-color: rgb(23, 64, 139);
}
/** navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(201, 8, 42);
}

.logo {
  padding: 1em;
  text-transform: capitalize;
}
.logo a {
  color: rgb(23, 64, 139);
}

ul {
  list-style: none;
  text-transform: uppercase;
} 

.logo a,
ul a {
  text-decoration: none;
  letter-spacing: .45em;
}

ul a {
  display: block;
  padding: 1em;
  color: rgb(255, 255, 255);
}

ul a:hover {
  background: bisque;
}
/**** dogs */

.kobe {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.kobe img {
  height: 500px;
  margin: 50px;
  width: 300px;

}

.jordan {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}